    <!--begin::Sidebar-->
    <!--begin::Sidebar Brand-->
    <aside > <!--begin::Sidebar Brand-->
    <!--begin::Sidebar Wrapper-->
    <div class="sidebar-brand"> 
        <!--begin::Brand Link-->
        <a href="../../../../dist/pages/index2.html" class="brand-link"> 
            <!--begin::Brand Image--> 
            <img src="/src/assets/img/favicon-96x96.png" alt="AcmeCorp Logo" class="brand-image opacity-75 shadow"> 
            <!--end::Brand Image--> <!--begin::Brand Text--> 
            <span class="brand-text fw-light">AcmeCorp</span> 
            <!--end::Brand Text--> 
        </a> 
        <!--end::Brand Link--> 
    </div>
    <!--end::Sidebar Wrapper-->

    <!--begin::Sidebar Wrapper-->
    <div class="sidebar-wrapper">
        <nav class="mt-2"> 
             <!--begin::Sidebar Menu-->
             <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="#" class="nav-link active"> 
                        <i class="nav-icon bi bi-speedometer"></i>
                        <p>
                            Seu Menu Liberado
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item"> <a href="./index.html" class="nav-link active"> <i class="nav-icon bi bi-circle"></i>
                                <p>Dashboard v1</p>
                            </a> </li>
                        <li class="nav-item"> <a href="pages/index2" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                                <p>Dashboard v2</p>
                            </a> </li>
                        <li class="nav-item"> <a href="./index3.html" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                                <p>Dashboard v3</p>
                            </a> </li>
                    </ul>
                </li>
                <li class="nav-item"> 
                    <a href="#" class="nav-link"> <i class="nav-icon bi bi-box-seam-fill"></i>
                        <p>
                            Widgets
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                    <li class="nav-item"> <a href="./widgets/small-box.html" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                        <p>Small Box</p>
                        </a> 
                    </li>
                    <li class="nav-item"> <a href="./widgets/info-box.html" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                                <p>info Box</p>
                            </a> </li>
                        <li class="nav-item"> <a href="./widgets/cards.html" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                                <p>Cards</p>
                            </a> </li>
                    </ul>
                </li>
                <li class="nav-item  menu-open">
                    <a href="#" class="nav-link"> 
                        <i class="nav-icon bi bi-clipboard-fill"></i>
                        <p>
                            Menu Restrito
                            <span class="nav-badge badge text-bg-secondary me-3">6</span> <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item"> 
                            <a href="./layout/unfixed-sidebar.html" class="nav-link"> 
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Default Sidebar</p>
                            </a> 
                        </li>

                        <li class="nav-item"> 
                            <a href="./layout/fixed-sidebar.html" class="nav-link"> 
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Fixed Sidebar</p>
                            </a> 
                        </li>

                        <li class="nav-item"> 
                            <a href="./layout/fixed-complete.html" class="nav-link"> 
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Fixed Complete</p>
                            </a> 
                        </li>

                        <li class="nav-item"> 
                            <a href="./layout/sidebar-mini.html" class="nav-link"> 
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Sidebar Mini</p>
                            </a> 
                        </li>

                        <li class="nav-item"> 
                            <a href="./layout/collapsed-sidebar.html" class="nav-link"> 
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Sidebar Mini <small>+ Collapsed</small></p>
                            </a> 
                        </li>

                    </ul>
                </li>
                
             </ul>
        </nav>
    </div> 
    <!--end::Sidebar Wrapper-->

    </aside> 
    <!--end::Sidebar--> <!--begin::App Main-->
    <!--begin::App Content Header-->