
td div.col-md-4 {
  width: 75px;
}

button.btn-action.btn-add {
  float: revert;
  color: blue;
  font-size: large;
}

.btn-action  {
  border: 0;
  background: none;
  padding: 10px;
  position: relative;
  float: left;
}

.btn-edit {

}


.btn-delete {
  color: red;
}